body{
    background-color: rgb(97, 22, 22);
}
div#container
{
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
#header
{
    width: 100%;
    align-self: center;
}
#nav
{
    align-self: stretch;
    order: -1;
    width: 19%;
    height: 50%;
}
#article
{
    align-self: center;
}
#aside
{
    width: 100px;
    align-self: flex-end;
}
#footer
{   width: 100%;
    align-self: center;
}
#tartesaside
{
    flex-flow: row wrap; 
    display: flex;
    align-self: flex-end;
    width: 100%;
}
@media only screen and (max-width: 500px)
{

}

.basic
{
    padding: 0px;
    margin: 0px;
    color: rgb(15, 12, 12);
    background-color: gray;
    color: #c8bcbc;
    border: 1px solid black;
    width: 100%;
    height: 130px;
    text-align: center;
}